<!-- start custom head snippets -->

<!-- insert favicons. use http://realfavicongenerator.net/ -->

<!-- load fonts -->
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

<!-- start include purecss.io framework -->
<link rel="stylesheet" href="/assets/css/vendor/pure-release-0.6.0/pure-min.css">
<!--[if lte IE 8]>
    <link rel="stylesheet" href="/assets/css/vendor/pure-release-0.6.0/grids-responsive-old-ie-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/assets/css/vendor/pure-release-0.6.0/grids-responsive-min.css">
<!--<![endif]-->
<style>
/*
When setting the primary font stack, apply it to the Pure grid units along
with `html`, `button`, `input`, `select`, and `textarea`. Pure Grids use
specific font stacks to ensure the greatest OS/browser compatibility.
*/
html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    /* Set your content font stack here: */
    font-family: "Lato", -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
}
</style>
<!-- end include purecss.io framework -->

<!-- end custom head snippets -->
