{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg"><a href="{{ base_path }}/"><img width="154px" src="{{ base_path }}/images/logo.png" alt="{{ site.title }}"/></a></li>
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}"{% if link.title contains 'Buchen' %} class='btn-masthead'{% endif %}>{{ link.title | upcase | replace: 'ü', 'Ü' | replace: 'ä', 'Ä' | replace: 'ö', 'Ö' | replace: 'FA FA-MAP-MARKER', 'fa fa-map-marker' | replace: 'TRUE', 'true' }}</a></li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
    <div class="lang-selector">
      <ul class="blank-list-style text-uppercase text-center">
        <li>Välkommen</li>
        <li>Welcome</li>
        <li class="text-underline">Willkommen</li>
        <li>Bonjour</li>
      </ul>
    </div>
  </div>
</div>
