/* ==========================================================================
   CUSTOM RULES FOR Sörälgen Camping
   ========================================================================== */

@import "variables";

/*
   Type
   ========================================================================== */
.text-uppercase {
  text-transform: uppercase;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-underline {
  text-decoration: underline;
}
.text-size-7 {
  font-size: $type-size-7;
}

/*
   Lists
   ========================================================================== */
 /* Reset list styling to none */
.blank-list-style {
  list-style-type: none;
  padding: 0;

  li {
    margin-bottom: 0;
  }
}

/*
   Masthead
   ========================================================================== */
@mixin masthead-text-color {
  color: $weiss;
  font-weight: bold;
  text-shadow: 1px 1px 0px #000;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.6);
}
.masthead {
  border-bottom: 0;
  background-color: #d3d5d2;
  background-image: url('/images/home/HeaderBild_Soralgen.jpg');
  background-repeat: no-repeat;
  background-size: 100%;

  /* begin resize container according to background image
     Source: http://stackoverflow.com/a/22211990/3068252 */
  position: relative;
  background-size: contain;
  height: 0;
  min-height: 170px; /* breakpoint below small to have enough space for text content */
  padding-top: 46.875%; /* (img-height / img-width * container-width) */
                /* (480 / 1024 * 100) */
  /* Source: http://stackoverflow.com/questions/600743/how-to-get-div-height-to-auto-adjust-to-background-size#comment49662468_22211990 */
  .masthead__inner-wrap {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
  }
  /* end resize container according to background image */

  .lang-selector {

    li {
      @include masthead-text-color;
      display: inline-block;
      padding: 0 1em;

      @include breakpoint($small) {
        display: block;
        padding: inherit;
        font-size: $type-size-4;
      }
      @include breakpoint($medium) {
        margin-bottom: 0.75em;
        &:first-of-type {
          padding-top: 1em;
        }
      }
      @include breakpoint($medium-wide) {
        margin-bottom: 0.75em;
        &:first-of-type {
          padding-top: 2em;
        }
      }
      @include breakpoint($large) {
        margin-bottom: 0.75em;
        &:first-of-type {
          padding-top: 3em;
        }
      }
    }
  }
}
.greedy-nav {
  background: 0;

   .visible-links a {
     @include masthead-text-color;

     /* set hover styles */
     &:hover {
       color: $body-color;
       @extend .text-underline;
     }

     &.btn-masthead {
       /* extend btn-masthead Buchen with button classes */
       @extend .btn;
       @extend .btn--inverse;
       @extend .text-uppercase;

       text-decoration: none; /* remove white custom undline on hover from button */
       font-size: $type-size-5; /* reset font size to masthead default */
     }
     /* remove gray default undline on hover from navigation entries */
     &::before {
           height: 0;
     }
   }

   /* set styles on dropdown on small screens */
   .hidden-links {
     background: $gray;
     border: 1px solid $dark-gray;
   }
}

/*
   purecss.io config
   ========================================================================== */
/* Padding & margin for purecss boxes */
/* 1em everywhere */
.l-box {
    padding: 1em;
}
/* RIGHT padding only */
.rp {
  padding: 0;
  padding-right: 1em;
}
/* LEFT padding only */
.lp {
  padding: 0;
  padding-left: 1em;
}
/* BOTTOM margin only */
.mb-large {
  margin-bottom: 2em;
}

/*
   Footer
   ========================================================================== */
 .page__footer {
   /* a underline */
   a {
     text-decoration: underline;
   }

   /* center columns */
   .pure-u-1 {
     text-align: center;
   }

   /* Social Media Icons */
   a.footer-icon {
     margin: 0 1em;
     text-decoration: none;

     &:hover {
       text-decoration: none;
     }

     .fa {
       color: $body-color;
     }
   }

   /* Grayscale Images
      Source: http://stackoverflow.com/a/8612047/3068252 */
   img.grayscale {
     filter: gray; /* IE6-9 */
     filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
     -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */

     &:hover {
       filter: none;
       -webkit-filter: grayscale(0);
     }
   }
 }

/*
   Home Container
   ========================================================================== */
 .home-section {
   /* invert icons */
   .invert {-webkit-filter: invert(100%); filter: invert(100%);}

   /* section impressionen */
   &#section-impressionen {
     .slick-home-campingplatz, .slick-home-infrastruktur, .slick-home-gegend {
       /* Overlay on hover
          Source: http://stackoverflow.com/a/18322705/3068252 */
       &:after, &:before {
          position: absolute;
          opacity: 0;
          transition: all 0.5s;
          -webkit-transition: all 0.5s;
        }
       &:after {
         content: '\A';
         position: absolute;
         width: 100%;
         height:100%;
         top:0; left:0;
         background:#000;
         background:rgba(0,0,0,0.6);
         opacity: 0;
         transition: all 1s;
         -webkit-transition: all 1s;
       }
       &:before {
          content: attr(data-content) '\a \1F441' ; // overlay content
          white-space: pre;
          width: 100%;
          color: #fff;
          z-index: 1;
          top: 45%;
          left: 0px;
          text-align: center;
        }
        &:hover:after, &:hover:before {
          opacity: 1;
        }
     }
     /* margins on large screens */
     .slick-home-campingplatz, .slick-home-infrastruktur {
       @include breakpoint($medium) {
         margin-right: 30px;
       }
     }
     .slick-home-infrastruktur {
       @include breakpoint($medium) {
         margin-bottom: 0;
       }
     }
     /* fill the slick caroussel in the outer container
        Source: http://stackoverflow.com/questions/27684458/change-height-of-slick-carousel/39922788#39922788 */
     .slick-home-gegend {
       height: 100%;
       img {
         height: 100%;
         object-fit: cover;
       }
      .slick-list, .slick-track {
        height: 100%;
      }
     }
   }
   &#section-campingplatz {
     background-image: url('/images/home/Section_Campingplatz_Boot.jpg');
   }
   &#section-unterkunftsmoeglichkeiten {
     background-image: url('/images/home/Section_Unterkuenfte_Saisonplatz.jpg');
   }
   &#section-aktivitaeten {
     background-image: url('/images/home/Section_Aktivitaeten_Ausflug.jpg');
   }
   background-size: cover;
   text-align: center;

   h2 {
     margin-top: 0.5em;
     border-bottom: 0;
     font-size: $type-size-5;
   }

   .overlay {
     &.black {
       color: white;
       background-color: #000;
       background-color: rgba(0, 0, 0, 0.7);

       a {
         color: white;
       }
     }
     &.white {
       color: black;
       background-color: #fff;
       background-color: rgba(255, 255, 255, 0.7);

       a {
         color: black;
       }
     }
     padding: 1em;
     margin: 2em 0;
     position: relative;

     p {
       font-size: $type-size-7;

       a {
         position: absolute;
         bottom: 2em;
         left: 0;
         width: 100%;
         text-transform: uppercase;
         text-decoration: underline;
         font-weight: bold;
       }
     }
     p:last-child {
       padding-top: 1em;
     }
   }
 }
